@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/wintry";
@import "@skeletonlabs/skeleton/themes/modern";
@import "@skeletonlabs/skeleton/themes/crimson";
@import "@skeletonlabs/skeleton/themes/seafoam";
@import "@skeletonlabs/skeleton/themes/vintage";

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in;
}
